input[type=button],input[type=text], select {
    padding:10px;    
}

.admin_tab_buttons {
    background-color: #07814E;
    color: #fff;
    cursor: pointer;
    border:1px solid black;
    border-bottom: 0px;
    font-size: 12pt;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.admin_controls {
    background-color: silver;
    padding:20px;
    
    
}

#all_members {
    
}

#all_members table {
    width:100%;
}
.admin_tab_content {
    border:1px solid black;
}

#plots_container, #waiting_list_container {
    display: none;
}

.in_line {
    display: inline-block;
    vertical-align: top;
}

.active {
    background-color: silver;
    color:black;
}



 /* Basic CSS styling */
 .collapsed_members_info, .collapsed_requested_plots_info , .collapsed_plots_info {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom:5px;
}

.collapsed_members_info:hover,.collapsed_requested_plots_info:hover,.collapsed_plots_info:hover  {
    background-color: #f0f0f0;
}

.expanded_members_info,.expanded_requested_plots_info,.expanded_plots_info {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
}

.assign_plot_button, .cancel_assign_plot_button {
    margin-left:10px; 
    padding: 10px;

}

.cancel_assign_plot_button {
    background-color: tomato;
}

.expanded_box_toggle {
    width:100%; 
    cursor:pointer; 
    display:flex; 
}

.add_member_form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(223, 223, 223);
    z-index: 1000;
    width: 90%; 
    max-width: 300px; 
    display: none;
}

.add_member_form input[type=button],
.add_member_form input[type=text]{
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom:5px;
}