input[type=button],input[type=text], select {
    padding:10px;    
}

.admin_tab_buttons {
    background-color: #07814E;
    color: #fff;
    cursor: pointer;
    border:1px solid black;
    border-bottom: 0px;
    font-size: 12pt;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.admin_controls {
    background-color: silver;
    padding:20px;
    
    
}

#all_members {
    
}

#all_members table {
    width:100%;
}
.admin_tab_content {
    border:1px solid black;
}

#plots_container, #waiting_list_container {
    display: none;
}

.in_line {
    display: inline-block;
    vertical-align: top;
}

.active {
    background-color: silver;
    color:black;
}

.collapsed_member_info {
    cursor:pointer; 
    display:block;
    border-top: 1px solid black;
    width:auto;
    padding:5px;
}

.collapsed_member_info:hover {
    background-color:lightgray;
}

.expanded_member_info {
    padding:5px;
    display:none;
    width:auto;
    border-top: 1px solid black;
    background-color: lightgray;
    
}
