body {
  margin-right:10px;
  margin-left:10px;
  font: 16px Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'heavitas';
  src: url('heavitas-webfont.woff2') format('woff2'),
       url('heavitas-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('OpenSans-ExtraBold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

a:link {
  text-decoration: none;

}

a:hover {
  color: green;
}



h1 {
  font-family: 'heavitas';
  color: #07814E;
  font-size: 20pt;
  margin:2px;
}


h3 {
  font-family: 'OpenSans-ExtraBold';
  font-size: 18pt;
  color: 07814E;
  margin:0;
}

h4 {
  font-family: 'OpenSans-ExtraBold';
  font-size: 14pt;
  color: #000;
  margin:0;
}

h5 {
  font-family: 'OpenSans-ExtraBold';
  font-size: 10pt;
  color: #000;
  margin:5px;
  margin-left:0px;
}

h6 {
  font-family: 'OpenSans-ExtraBold';
  font-size: 24pt;
  color: #851847;
  margin:20px;
}
  

  
.header {
  width: 100%;
  color:#94C727;
  font-family: 'heavitas';
  font-size:12pt;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.header_logo img {
  width: 250px;
  border:0;
  margin:0;
  padding:0;
}


.header_title {
  width:230px;
  text-align: left;
  display: inline-block;
}


.header_social {
  display: inline-block;
}
  
/* For medium mobile: */
@media only screen and (min-width: 375px) {


}



 /* For large mobile: */
 @media only screen and (min-width: 425px) {

 }


 /* For tablets: */
@media only screen and (min-width: 768px) {

}

/* For laptop and desktop: */
@media only screen and (min-width: 1024px) {
  
}

/* For big laptop and desktop: */
@media only screen and (min-width: 1440px) {



}