input[type=button], input[type=text],input[type=textarea], select  {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width:100%;
}

input[type=button] {
    background-color: #07814E;
    color: #fff;
    border: 0px;
    cursor: pointer;
}


.edit_profile, .request_plot {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(223, 223, 223);
    z-index: 1000;
    width: 90%; 
    max-width: 300px; 
    display: none;
}

.request_plot_button {
    display:none
}
.request_plot_number {
    display:none; 
}
.cancel_plot_request_button {
    display:none
}
.my_plots {
    width:100%;
}
.my_plots div  {
    border: 1px solid black;
    padding: 10px;
    width: auto;
    margin-top:10px;
    margin-bottom:10px;
}



.requested_plots {
    border: 1px solid black;
    padding: 10px;
    width: auto;
    margin-top:20px;
    background-color: rgb(223, 223, 223);
    
}

.newsletter_archive_button {
    cursor: pointer;
    text-decoration: underline;
}

input[type="button"][value="Cancel"],
input[type="button"][value="Cancel plot request"],
input[type="button"][value="Sign out"] {
    background-color: tomato;
}


input[type="button"][value="Submit request"]:disabled {
    background-color: rgb(103, 110, 103);
}



/* For medium mobile: */
@media only screen and (min-width: 375px) {
   
}



/* For large mobile: */
@media only screen and (min-width: 425px) {

}


 /* For tablets: */
@media only screen and (min-width: 768px) {
    
    .left_panel {
        width:30%;
        display:inline-block;
        float:left;
        
    }

    .right_panel {
        width:65%;
        display: inline-block;
        float:left;
        padding-left:30px;
    }
    .edit_profile, .request_plot {
        width: 60%; 
        max-width: 600px; 
    }
}

/* For laptop and desktop: */
@media only screen and (min-width: 1024px) {
    body {
        margin-right:10%;
        margin-left:10%;
    }
  
}

/* For big laptop and desktop: */
@media only screen and (min-width: 1440px) {
    body {
        margin-right:15%;
        margin-left:15%;
    }
}
